[submodule "group_autotesting/jmsd_tpc_googletest"]
	path = group_autotesting/jmsd_tpc_googletest
	url = https://github.com/jiteman/jmsd_tpc_googletest.git
[submodule "group_autotesting/jmsd_tpc_cppunit"]
	path = group_autotesting/jmsd_tpc_cppunit
	url = https://github.com/jiteman/jmsd_tpc_cppunit.git
[submodule "group_foundation/jmsd_tpc_poco_cpp"]
	path = group_foundation/jmsd_tpc_poco_cpp
	url = https://github.com/jiteman/jmsd_tpc_poco_cpp.git
[submodule "jmsd_tpc_component"]
	path = jmsd_tpc_component
	url = https://github.com/jiteman/jmsd_tpc_component.git
[submodule "group_media/jmsd_tpc_sfml"]
	path = group_media/jmsd_tpc_sfml
	url = https://github.com/jiteman/jmsd_tpc_sfml.git
[submodule "group_media/jmsd_tpc_openal_soft"]
	path = group_media/jmsd_tpc_openal_soft
	url = https://github.com/jiteman/jmsd_tpc_openal_soft.git
[submodule "group_media/jmsd_tpc_sdl"]
	path = group_media/jmsd_tpc_sdl
	url = https://github.com/jiteman/jmsd_tpc_sdl.git
